canvas {
    border: 2px solid black;
    background-color: #f2f2f2;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: Montserrat;
    font-size: 60px;
    color: White;
}

body {
    background-image: url('http://www.wallfizz.com/animes/naruto/6537-yeux-de-sang-naruto-WallFizz.jpg');
}

#red {
    text-align: left;
    margin-left: 250px;
    font-family: Montserrat;
    font-size: 45px;
    margin-top: -45px;
    color: White;
}

#blue {
    text-align: right;
    margin-right: 250px;
    font-family: Montserrat;
    font-size: 45px;
    color: White;
}